/* Utility-first/Classes utilitárias - Classes que servem para fazer apenas UMA coisa */
.grid {
  display: grid;
}

.grid-flow-col {
  /* Transformar o fluxo padrão em colunas */
  grid-auto-flow: column;
}

.grid-cols-2 {
  /* Criar duas colunas com uma fração da tela, cada */
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  /* Espaço entre os elementos */
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.text-2xl {
  font: var(--h1);
}
.text-xl {
  font: var(--h2);
}
.text-lg {
  font: var(--h3);
}
.text-sm {
  font: var(--text-sm);
}
